@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono',arial,sans-serif;
  overflow: hidden;
}
html,body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e44ad;
  color: white;
}
.counter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}
.counter{
  font-size: 60px;
  margin-top: 10px;
}
i{
  font-size: 3rem;
}
/* @media (max-width: 800px){
  body{
    flex-direction: column;
  }
} */